/* :root{
    box-sizing: border-box;
} */
 *{
    margin: 0;
    padding: 0;
 }
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust:0% ;
}
div{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    /* background-color: #912BBC; */
    background-color: #0f1111;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    
}
.nav-logo{
    height: 50px;
    width: 128px;
    align-items: center;
    padding-top: 7px;
}
.logo{
    background-image: url(klipartz.com.png);
    height: 50px;
    width: 100%;
    padding-left: 0px;
    background-size:contain;
    background-repeat: no-repeat;
}
/* Box2 */
.addr{
    padding-left: 5px;
    padding-top: 3px;
}
.first{
    font-size: 0.8rem;
    margin-left: 12px;
}
.second{
    display: flex;
    font-size: 1rem;
}
.border{
    border: 2px solid transparent; 
}
.border:hover{
    border: 2px solid white; 
}
/* box 3 */
.nav-search{
    background-color:white;
    /* margin-left: 3px; */
    display: flex;
    height: 40px;
    width: 875px;
    border-radius: 4px;
}
/* .nav-search:hover{
    border: 2px solid orange;

} */

.select{border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
}
.search-icon{
    background-color: #fda60f;
    width: 6%;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color:#0f1111;
}
.search-icon:hover{
    background-color: rgb(221, 154, 29);
    /* color: white; */
}
 .search-input{width:100%;
    border-radius: 0px;
font-size: 1rem;
border-color: white;
}
/* box 4 */
.nav-signin{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    margin: 0px 0px 0px 5px;
    padding: 0px;
}
.nav-second{
    font-size: 0.9rem;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-weight: 700;
    background: none;
    color: white; 
    border: transparent;
}

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700px;
}
/* Nav bar completed */
.panel{
    display: flex;
    height: 39px;
    /* justify-content: space-evenly; */
    background-color: #273636;
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0px 0px 0px 11px;
}
.panel-all{
    margin: 0px;
    padding: 8px 9px;
    justify-content: left;
    font-size: 14px; 
}
.panel-ops{
    display: flex;
    font-size: 14px;
    text-align: center;
    align-items: center;
    width: 70%;
}
.ops{
    /* margin: 5px 0px 6px; */
    padding: 8px 9px 8px 9px;
}
.panel-deals{    
    text-align: center;
    /* margin: 5px 0px 6px; */
    padding: 8px 9px 8px 9px;
    align-items: center;
    font-size: 14px;
    font-weight: 700px;
}
a{
    text-decoration: none;
    color: white;
}
/* panel done */
.hero-section{
    display: flex;
    background-image: url(home_image.jpg);
    height: 400px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    width: 90%;
    height: 40px;
    align-items: center;
    text-align: center;
    background-color: #f5f6f6;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 0.85rem;
}
/* .comment{
    background-color: white;
    align-items: center;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}*/
.comment-second{
    /* text-decoration: none; */
    color: maroon;
    }
    /* panel section completed */

/* Shop section starts from here */

.shop-section{
    background-color: #fcdee4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h2{
    font-size: 21px;
    text-align: center;
    margin: 12px 0px;
}
.box{
    /* border: 2px solid black; */
    width: 22%;
    background-color: white;
    margin-bottom: 10px;
    height: 400px;
}
.seemore{
    color: blue;
    font-size: 0.8rem;
}
.box-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 22%px;
    height: 100%;
    align-items: center;

}
.allbox{
background-image: url(box1_image.jpg);
background-size: cover;
width: 85%;
height: 80%;

}

.box2-img{background-image: url(box2_image.jpg);}
.box3-img{background-image: url(box3_image.jpg);}
.box4-img{background-image: url(box4_image.jpg);}
.box5-img{background-image: url(box5_image.jpg);}
.box6-img{background-image: url(box6_image.jpg);}
.box7-img{background-image: url(box7_image.jpg);}
.box8-img{background-image: url(box8_image.jpg);}

/* footer panel */
footer{
    background-color: #37475a;
    color: white;
    text-align: center;
    font-size: 0.85rem;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color:#313f50 ;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    font-size: 0.85rem;
}
.foot-panel2 a{
    display: block;
}
.foot-panel2 p{
    font-weight: 700;
}